---
- name: RouterOS Backup
  hosts: mikrotik
  gather_facts: true
  tasks:

    - name: Set Backup Time
      set_fact:
        time: "{{ lookup('pipe', 'date \"+%Y-%m-%d-%H-%M\"') }}"

    - name: backup-resource create
      routeros_command:
        commands: export file={{ inventory_hostname }}.rsc

#  system backup save dont-encrypt=yes name {{ inventory_hostname }}
    - name: Starting ROS System Backup
      community.routeros.command:
        commands: "system backup save dont-encrypt=yes name=(system identify)-{{ inventory_hostname }}"

    - name: Downloading buckup file
      ansible.netcommon.net_get:
        src: "{{ inventory_hostname }}.backup"
        dest: /home/ansible/Mikrotick/Buckup/{{ inventory_hostname }}-{{ time }}.backup
        protocol: sftp

    - name: Downloading configuration files
      ansible.netcommon.net_get:
        src: "{{ inventory_hostname }}.rsc"
        dest: /home/ansible/Mikrotick/Buckup/{{ inventory_hostname }}-{{ time }}.rsc
        protocol: sftp

    - name: Remove system backup file from RouterOS
      community.routeros.command:
        commands:
          - '/file remove "{{ inventory_hostname }}.backup"'

    - name: Remove export file from RouterOS
      community.routeros.command:
        commands:
          - '/file remove "{{ inventory_hostname }}.rsc"'



#    - name: Copying ROS System Backup to Local Host
#      ansible.builtin.fetch:
#        src: "{{ inventory_hostname }}.backup"
#        dest: "~/home/{{ inventory_hostname }}-{{ time }}.backup"
#    - name: Test
#      ansible.netcommon.net_get:
#        src: "10.0.2.10.backup"
#        dest: "/home/semaphore/10.0.2.10.backup"
#    - name: "Starting ROS Configuration Backup"
#      community.routeros.command:
#        commands: /export show-sensitive file={{inventory_hostname}}
