---
- name: RouterOS Backup
  hosts: all
  gather_facts: true
  tasks:

    - name: Set Backup Time
      set_fact:
        time: "{{ lookup('pipe', 'date \"+%Y-%m-%d-%H-%M\"') }}"

#    - name: backup-resource create
#      routeros_command:
#        commands: export file={{ inventory_hostname }}.rsc
#
#    - name: Starting ROS System Backup
#      community.routeros.command:
#        commands: "/system backup save name {{ inventory_hostname }}"

    - name: backup-file download
      ansible.netcommon.net_get:
        src: "{{ inventory_hostname }}--time.backup"
        dest: /home/semaphore/buckup/{{ inventory_hostname }}.backup
        protocol: sftp

    - name: backup-resource download
      ansible.netcommon.net_get:
        src: "{{ inventory_hostname }}--time.rsc"
        dest: /home/semaphore/buckup/{{ inventory_hostname }}.rsc
        protocol: sftp

#    - name: Test
#      ansible.netcommon.net_get:
#        src: "10.0.2.10.backup"
#        dest: "/home/semaphore/10.0.2.10.backup"
#    - name: "Starting ROS Configuration Backup"
#      community.routeros.command:
#        commands: /export show-sensitive file={{inventory_hostname}}