---
- name: Add static DNS records on MikroTik RouterOS
  hosts: all
  gather_facts: no

  tasks:
    - name: Add DNS records
      community.routeros.command:
        commands:
          - /ip dns static add address=172.30.30.5 name=1cb.bull.local type=A disabled=no
          - /ip dns static add address=172.30.30.21 name=1cb1.bull.local type=A disabled=no
        
    - name: Verify DNS records
      community.routeros.command:
        commands:
          - /ip dns static print
      register: dns_result

    - name: Show DNS table
      debug:
        var: dns_result.stdout_lines
