---
- name: Add static DNS records on MikroTik RouterOS
  hosts: all
  gather_facts: no

  tasks:
    - name: Add DNS records
      community.routeros.command:
        commands:
          - /tool netwatch disable numbers=0
          - /ip firewall nat set [find comment="failover-DNS"] disable=yes
    - name: Verify DNS records
      community.routeros.command:
        commands:
          - /ip dns static print
      register: dns_result

    - name: Show DNS table
      debug:
        var: dns_result.stdout_lines
